html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #363947;
    width: 100%;
}

* {
    box-sizing: border-box;
    position: relative;
}

.light {
    font-weight: 300;
}

.bold {
    font-weight: 600;
}

.container {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
}

.sidebar {
    width: 20%;
    min-height: 100vh;
    background: #363947;
    color: white;
    padding: 60px 50px 0;
}

.logo {
    display: block;
    width: 180px;
    margin-left: -12px;
    margin-bottom: 40px;
}

.main {
    width: 80%;
    padding-bottom: 50px;
}

.topbar {
    float: left;
    width: 100%;
    background: rgba(54, 57, 71, 0.5);
    line-height: 20px;
    padding: 20px 20px 20px 50px;
}

.textSelected {
    text-transform: capitalize;
}

.main__left {
    width: 80%;
    float: left;
    padding: 50px 50px 0 50px;
}

.fc-state-default {
    border: 0;
    background: transparent;
    box-shadow: none;
}

.fc-toolbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
}

.fc .fc-toolbar > * > * {
    float: none;
}

.fc-toolbar h2 {
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
}

.fc-today-button {
    background: none;
    color: #11EFF1;
    border: 1px solid #11EFF1;
    text-transform: uppercase;
    font-size: 12px !important;
    display: inline-block;
    vertical-align: middle;
}

.fc-today-button.fc-state-disabled {
    opacity: .4;
}

.fc-day-number.fc-other-month {
    opacity: 1;
    color: rgba(0, 0, 0, 0.3);
}

.fc-unthemed th,
.fc-unthemed td,
.fc-unthemed thead,
.fc-unthemed tbody,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-row,
.fc-unthemed .fc-content,
.fc-unthemed .fc-popover {
    border: none;
}

.fc-ltr .fc-basic-view .fc-day-number {
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    z-index: 2;
}

.fc-scroller.fc-day-grid-container {
    height: auto !important;
    overflow: auto !important;
}

.fc-content-skeleton .fc-day-number {
    line-height: 26px;
}

.fc-content-skeleton .fc-day-number:after {
    content: '';
    position: absolute;
    display: inline-block;
    background: white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    left: 50%;
    margin-left: -12px;
    z-index: -1;
}

.fc-day-number.fc-today.fc-state-highlight {
    color: white;
}

.fc-day-number.fc-today.fc-state-highlight:after {
    content: '';
    position: absolute;
    display: inline-block;
    background: #11EFF1;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    left: 50%;
    margin-left: -12px;
    z-index: -1;
}

.fc td.fc-today {
    border: 0;
}

.fc-unthemed .fc-today {
    background: transparent;
}

.fc-day-header {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    padding-bottom: 20px !important;
}

.event {
    text-align: center;
    font-size: 16px;
    margin-top: -15px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 17px;
    position: relative;
    z-index: -2;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px 0 0;
    background: white;
    color: #363947;
    box-sizing: border-box;
    height: 80px;
}

.event.good {
    border-bottom: 5px solid #C0FF16;
}

.event.warning {
    border-bottom: 5px solid #FBEE1E;
}

.event.nogood {
    border-bottom: 5px solid #FBA31E;
}

.event.missing {
    border: 1px solid #F13153;
    color: #F13153;
}

.fc-title {
    color: transparent;
    text-shadow: 0 0 0 #363947;
    font-size: 14px;
}

.fc-center h2:nth-letter(3) {
    font-size: 30px;
}

.tagline {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.3);
    padding-top: 20px;
}

span.good {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #C0FF16;
    vertical-align: middle;
    margin-left: 20px;
}

span.warning {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #FBEE1E;
    vertical-align: middle;
    margin-left: 20px;
}

span.nogood {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #FBA31E;
    vertical-align: middle;
    margin-left: 20px;
}

span.missing {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #F13153;
    vertical-align: middle;
    margin-left: 20px;
}

.main__right {
    width: 20%;
    float: left;
    padding-top: 43px;
}

.side-title {
    padding: 50px 0 0;
    font-weight: 600;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.3);
}

.stat-bar {
    width: 70%;
    background: #C0FF16;
    height: 10px;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
}

.stat-bar__not-billable {
    height: 10px;
    right: 0;
    position: absolute;
    border-left: 1px solid white;
}

.stat-bar--good {
    background: rgba(0, 0, 0, 0.3);
}

.stat-bar--warning {
    background: #FBEE1E;
}

.stat-bar--nogood {
    background: #FBA31E;
}

.missing-days {
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: white;
    text-align: center;
    font-weight: 600;
    border-radius: 50%;
    background: #F13153;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    font-size: 12px;
}

.stat-percentage {
    width: 100%;
}

.stat-percentage__container {
    width: 70%;
}

.stat-percentage__billable,
.stat-percentage__not-billable {
    float: left;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
}

a {
    color: white;
}

.small {
    font-size: 0.8em;
    padding-left: 10px;
}

.qtip-content {
    word-wrap: normal;
}

.qtip-my {
    line-height: 1.1em;
    color: white;
    width: 600px !important;
    font-size: 1.1em;
}

.fc-sun {
    background-color: #f8f8f8;
}

.fc-sat {
    background-color: #f8f8f8;
}

#timesheet_users {
    background: none;
    overflow: auto;
    border: none;
    color: white;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

#timesheet_users option {
    margin-bottom: 7px;
    text-transform: capitalize;
}

.caotic {
    opacity: .6;
}

#timesheet_users {
    list-style-type: none;
}

#timesheet_users li {
    -webkit-transition: margin 0.2s;
    cursor: pointer;
}

#timesheet_users li:hover {
    font-weight: bold;
}

#timesheet_users li.selected {
    font-weight: bold;
    margin: 10px 0;
}

a.fc-event {
    z-index: 1;
    background: transparent;
}

.qtip-content, .qtip-content * {
    color: black;
}

span.fc-title img {
    vertical-align: sub;
}

span.fc-title {
    font-weight: bold;
}

span.fc-title img {
    display: inline-block;
    width: 18px;
    margin-left: 6px;
}